*{
    margin: 0;
    padding: 0;
}
body{
    background-color: aquamarine;
    text-align: center;
}

/*===========
header
==========*/

header{

}
.grid-headers{
    width: 900px;
    height: 70px;/*alto*/
    margin: 0 auto;/*centra horizontal mente*/
    display: grid;
    grid-template-columns: 2fr 6fr 1fr 1fr 1fr 1fr;

}

.cajas{
    background-color: silver;
    border: 2px solid white;
    text-align: center; 
}
 .headers-item{

}

#banner{
    background-color: silver;
    border: 2px solid white;
    height: 400px;
}